<!-- <h2>Hello</h2> -->

<div class="row container mt-3 mb-3">

  <li class="col-sm">
    <a routerLink="/dashboard"  routerLinkActive="true">Dashboard</a>
  </li>

  <div class="col-sm" style="float: right; align-self: flex-end; margin-right: 30px;">
    <button type="button" [routerLink]="['/dashboard']" class="btn btn-primary">Dashboard </button>
  </div>

  <div  class="col-sm"  cstyle="float: right; align-self: flex-end; margin-right: 30px;">
    <button type="button"[routerLink]="['/user']"class="btn btn-success">User</button>
  </div>

  <div class="col-sm" style="float: right; align-self: flex-end; margin-right: 30px;">
    <button type="button" [routerLink]="['/admin']" class="btn btn-dark">Admin </button>
  </div>



  <div class="col-sm" style="float: right; align-self: flex-end; margin-right: 30px;">
    <button type="button" (click)="logout()" class="btn btn-danger">Logout </button>
  </div>

</div>

<router-outlet>

</router-outlet>

